.delete-button {
  background-color: red;
  color: white;
  margin-right: 8px;
  border: none;
}
.edit-button {
  background-color: blue;
  color: white;
  margin-right: 8px;
  border: none;
}
.crud{
  text-align: center;
  color:orangered;
}
.form-input {
  width: 250px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin:10px;
}
.form-label {
  font-weight: bold;
  margin-left:6px;
  color: #333;
  
}